<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.all.js"></script>
    <script src="/jquery-3.4.1.min.js"></script>
    <script>
        function logout() {
            $.ajax({
                url:"/logout",
                success:function (data) {
                    alert(data)
                    window.location.href="/login"
                },
                error:function () {
                    alert("出现了错误，请稍后重试")
                }

            })
        }
    </script>
    <style>
        #userbox{
            width: 500px;
            margin: 0 auto;
            border: #2E2D3C;
            border-width: 3px;
        }
    </style>
</head>
<body>
    <div th:replace="tem/navbar::navbar('login')"></div>
    <div id="userbox">
        <h1 align="center">用户信息</h1>
        <h2 align="center" th:text="'用户名:'+${user.username}"></h2>
        <h2 align="center" th:text="'id:    '+${user.userid}"></h2>
        <button class="layui-btn"  onclick="logout()">注销</button>
    </div>

    <script src="/layui/layui.all.js"></script>
</body>

</html>