<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="/static/layui/css/layui.css">

</head>

<body>
    <ul class="layui-nav" lay-filter="" th:fragment="navbar(state)">
        <script src="/jquery-3.4.1.min.js"></script>
        <script>
            function logout() {
                $.ajax({
                    url:"/logout",
                    success:function (data) {
                        alert(data)
                        window.location.href="/login"
                    },
                    error:function () {
                        alert("出现了错误，请稍后重试")
                    }

                })
            }
        </script>
        <li class="layui-nav-item "><a href="/">主页</a></li>
        <!--/*@thymesVar id="login" type="java.lang.Boolean"*/-->
        <li class="layui-nav-item" th:if="${state=='login'}">
            <a href="javascript:;">个人</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="/personal/personalcenter">个人中心</a></dd>
                <dd><a href="javascript:logout()">注销登陆</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item" th:if="${state!='login'}">
            <a href="/login">登陆</a>
        </li>
    </ul>
    <script src="/static/layui/layui.all.js"></script>
</body>
